
.shopping-cart-list {
  max-width: 380px;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  margin-top : 200px;
}

.totalPrice {
  font-weight: bold;
  text-align: center;
}

.checkout-footer {
  font-weight: bold;
  text-align: center;
}

.product-item {
  margin: 0 20px;
  border-bottom: 1px dotted grey;
  padding: 0 10px;
}

.product-column{
  min-width : 80px;
  display : inline-block;
}
